@if (user) {
  <div class="grid justify-items-center grid-cols-1 gap-4 m-4">
    <div>
      <div class="avatar">
        <div class="mask mask-squircle w-24">
          <img [src]="imageUrl"  (error)="setDefaultImage()" alt="Profile Image"/>
        </div>
      </div>
    </div>
    <div>
      <div class="badge badge-soft badge-accent">{{user.user_metadata.full_name}}</div>
    </div>
    <div>
      <p>{{user.user_metadata.email}}</p>
    </div>
    <div class="w-full">
      <fieldset class="fieldset w-full p-4 bg-base-100 border border-base-300 rounded-box w-64">
        <legend class="fieldset-legend">View Option</legend>
        <label class="fieldset-label">
          <input type="checkbox" [checked]="this.phraseStyle"  (change)="changePhraseStyle()"  class="toggle border-indigo-600 checked:bg-orange-400 checked:text-orange-800 checked:border-orange-500 " />
          Show Translation First
        </label>
      </fieldset>
    </div>
    <div class="w-full">
      <button class="btn btn-info w-full" (click)="generatePhrase()">Generate</button>
    </div>
    <div class="w-full">
      <button class="btn btn-error w-full" (click)="logoutUser()">Logout</button>
    </div>
  </div>

}
